<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="app.component.css">
    <title> Website</title>
    <div class="container-fluid">
           <div class="mt-4 p-5 bg-primary text-white rounded">
               
          <h1>This is moving car</h1> 
          <p></p> 
        </div>
      </div>
      <div class="container-fluid">
        <div class="main-container">
            <img src="C:\Users\student\Desktop\66G1\angular\myapp-ganesh\src\assets\sky1.jpg" alt="main-container">
            <div class="road">
                <img src="C:\Users\student\Desktop\66G1\angular\myapp-ganesh\src\assets\road.jpg" alt="road">
            </div>
            <div class="road-sideview">
                <img src="C:\Users\student\Desktop\66G1\angular\myapp-ganesh\src\assets\city.png" alt="road-sideview">
            </div>
            <div class="moving-car">
                <img src="../assets/bmw.png" alt="moving-car">
            </div>
            
            <div class="car-wheel">
                <img src="../assets/wheel.png" alt="moving car wheel" 
                    class="car-back-wheel">
    
                <img src="../assets/wheel.png" alt="moving car wheel" 
                    class="car-front-wheel">
            </div>
        </div>
    
    </div>

      <footer class="container-fluid">
        <p>Picket Ganesh</p>
        <p><a href="#">20r01a66g1@cmritonline.ac.in</a></p>
      </footer>

<router-outlet></router-outlet>
